<nav class="navbar navbar-inverse indexNav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle indexNavBt" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Computer Tricks</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{{ lifegame ? 'active' : ''}}"><a (click)="initLifegame()">Conway's Game of Life</a></li>
        <li class="{{ miner ? 'active' : ''}}"><a (click)="initMiner()">Miner</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <app-lifegame [game]="lifegame" *ngIf="lifegame"></app-lifegame>
  <app-miner [game]="miner" *ngIf="miner"></app-miner>
</div>
